.mobile-home-video-section {
    width: 100%;
    aspect-ratio: 16 / 9; /* Adjust to your video's ratio */
     background-color: #fff5ea;
    /* overflow: hidden; */
    position: relative;
}

.mobile-home-video-container {
    width: 100%;
    height: 100%;
}

.mobile-home-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mobile-home-video-cta{
    background-color: black;
    width: 100%;
    /* height: ; */
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px 60px 50px;
    
}
.mobile-home-video-cta-text{
    padding: 0px 20px 20px 0px;
}