.about-page-hero-section {
    height: 80vh;
    background-image: url(../assets/About-images/BG.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-page-hero-section-left .head-text-white {
    padding-left: 60px;
}

.about-page-hero-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 60px 0px 0px;
    align-items: start;
    gap: 30px;
    justify-content: center;
}



/* CERTIFICATES  */

.about-us-page-certificates-section {
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    padding: 0px 0px;
}

.about-us-page-certificates-container-left-right {
    display: flex;
    justify-content: space-between;
    background-color: #FFF5EA;
    padding: 60px 60px;
    flex-direction: row;
}

.about-us-page-certificates-box-img img {
    width: 250px;
    height: auto;
    
}

.about-us-page-certificates-box-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #000;
}

.about-us-page-certificates-box-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
    
}

.about-us-page-certificates-container-right-left {
    display: flex;
    justify-content: space-between;
    background-color: #FFF5EA;
    padding: 60px 60px;
    flex-direction: row-reverse;
}

.about-us-page-certificates-container-right-left .about-us-page-certificates-box-img {
    justify-content: start;
}

.about-us-page-yellow-section {
    height: 300px;
    background-color: #FCE300;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    flex-direction: column;
    padding: 100px 460px;
}




@media only screen and (max-width: 800px) {
    .about-page-hero-section {
        height: 50vh;
        padding: 60px 20px 60px 0px ;
        background-position: 70% 100%;
        align-items: end;
    }

    .about-page-hero-section-left {
        width: 100%;
    }
    .about-us-page-certificates-container-left-right {
    display: flex;
    justify-content: space-between;
    background-color: #FFF5EA;
    padding: 60px 20px 10px 20px;
    flex-direction: column-reverse;
}
.about-us-page-certificates-box-img img {
    width: 350px;
    height: auto;
}

.about-us-page-certificates-box-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  none;
}
.about-us-page-certificates-box-text{
    width: 100%;
}
.about-us-page-certificates-container-right-left {
    display: flex;
    justify-content: space-between;
    background-color: #FFF5EA;
    padding: 60px 20px 10px 20px;
    flex-direction: column-reverse;
     padding: 20px 20px 60px 20px;
}
.about-us-page-yellow-section {
    height: fit-content;
    background-color: #FCE300;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    flex-direction: column;
    padding: 60px 20px;
    margin-bottom: -100px;
}


}