/* src/components/FAQ.css */
.faq-container {
  padding: 100px 60px;
  background-color: #F9F5F0;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}
.faq-container h2{
  margin-bottom: 30px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.faq-question svg {
  font-size: 1.2rem;
}

.faq-answer {
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #2c2c2c;
}

.faq-answer p {
  margin: 0;
}

@media (max-width: 800px) {

.faq-container {
    padding: 60px 20px;
}

.faq-container h2 {
    margin-bottom: 15px;
}

.faq-question {
  padding: 10px 0px;
}
.faq-answer {
    padding: 5px 0px;
}
.faq-item {
    margin-bottom: 10px;
}
.faq-question svg {
  font-size: 0.8rem;
}
}