.locker-section {
  height: 400vh;
  /* background: #222; */
  position: relative;
  z-index: 1000;

}

  .cta-wrapper11111 {
    /* margin-left: auto; */
    display: flex;
    position: relative;
    border-top: 0.5px solid rgb(145, 145, 145);
    border-bottom: 0.5px solid rgb(145, 145, 145);
    width: 30%;
    /* justify-content: end; */
    /* flex-direction: row; */
  }


.locker-container {
  position: sticky;
  top: 0;
  height: 100vh;
  background: url('../assets//Home-images//Extra-images/vector.png');
  /* background-position: ; */
  background-position-x: 60%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.locker-box {
  width: 200px;
  height: 200px;
  background: #307FE2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 50px;
}

.inner-box {
  background: #FCE300;
  opacity: 1;
  transition: 0.3s;
}

.locker-box-2 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.asterisk-icon {
  font-size: 60px;
  color: #FCE300;
  opacity: 0;
  transform: scale(0);
}

.vid-locker-box {
  width: 200px;
  height: 200px;
  background: #307FE2;
  /* border: 5px solid white; */
  perspective: 10000px;
  perspective-origin: right;
  transform-style: preserve-3d;

}

.locker-vid-container {
  width: 200px;
  height: 200px;
}

.locker-vid-container img {
  position: absolute;
  height: 200px;
}

.cta-in-the-locker-section {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  display: flex !important;
  padding-left: 60px;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  /* background-color: #307FE2; */
  gap: 100px;
  display: none;
  opacity: 0;
}

.cta-in-the-locker-container {
  width: 35%;

}


@media (max-width: 800px) {
  .asterisk-icon {
    font-size: 15px;
  }


  .locker-box {
    width: 82px;
    height: 82px;
    padding: 13px
  }
    .locker-container {
        justify-content: center;
        padding: 0px 20px 0px 20px;
        gap: 10px;
        height: 60vh;
        top: 20%;
        background: url(none);
        background-color: black;
        padding-bottom: 120px;
    }

  .locker-box-2 {
    width: 30px;
    height: 30px;
  }

  .locker-vid-container {
    width: 75px;
    height: 75px;
  }

  .vid-locker-box {
    width: 75px;
    height: 75px;
  }

  .cta-in-the-locker-section {
    padding-left: 0px;
    flex-direction: column;
    width: 100%;
    bottom: 30px;
    gap: 20px;
  }

  .cta-wrapper11111 {
    margin-left: auto;
    display: flex;
    position: relative;
    border-top: 0.5px solid rgb(145, 145, 145);
    border-bottom: 0.5px solid rgb(145, 145, 145);
    width: 80%;
    flex-direction: row;
  }

  .cta-in-the-locker-container {
    width: 100%;
    padding: 0px 20px;
  }

  .inner-box {
    height: 10px;
    width: 10px;
  }

  .locker-vid-container img {
    position: absolute;
    height: 75px;
  }
}