.canvas-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* object-fit: contain; */
}

.animation-section {
  position: static;
}

.next-section {
  position: relative;
}
.logo-image-home-banner{
  width:400px;
  height:auto;
   position: absolute;
  bottom: 20px;
  top: 470px;
  left: 51%;
  z-index: 1000;
    transform: translateX(-50%);
     
}

.scroll-button {
  position: absolute;
  bottom: 20px;
  top: 550px;
  left: 51%;
  height: fit-content;
  width: fit-content;
  transform: translateX(-50%);
  padding: 10px 20px;
  /* background-color: rgba(255, 255, 255, 1); */
  color: rgb(255, 255, 255) !important;
  border: none;
  border-radius: 5px;
  cursor:default ;
  z-index: 1000!important;
  font-size: 25px;
}
.scroll-button span {
  display: inline-block;
  margin-left: 8px;
  color:rgb(255, 255, 255);
  vertical-align: middle;
  /* margin-top: 10px; */
}
.scroll-button span img{
  width: 40px;
  height: 40px;
  rotate: 90deg;
  margin-top: 10px;
  z-index: 1000 !important;
}
.head-top-go{
   position: absolute;
  bottom: 20px;
  top: 3%;
  left: 51%;
  height: fit-content;
  width: 30%;
   z-index: 1000 !important;
     transform: translateX(-50%);
     text-align: center;
     width: 70%;
}