
.locker-solution-hero-section {
    background-color: #FFF5EA;
    display: flex;
    /* margin-bottom: 100px; */
    padding: 100px 0px;
}

.locker-hero-section-contents {
    padding-left: 60px;
}
.locker-smart-section-contents {
    padding: 0px 0px 0px 60px;
}

.locker-solution-left {
    width: 54%;
    display: flex;
    flex-direction: column;
    padding: 0px 60px 0px 0px;
    align-items: start;
    justify-content: center;
}

.locker-solution-right {
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
}

.locker-hero-section-contents {
    padding: 0px 60px 0px 60px;
}

.locker-solution-hero-image {
    height: 500px;
    width: 100%;
    object-fit: contain;
    /* margin-top: 150px; */
}

.locker-smart-section {
    margin-top: 300px;
    height: 300px;
    background-color: #EEF7FF;
    display: flex;
    margin-bottom: 80px;
}

.locker-smart-left {
    width: 50%;
}

.locker-smart-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-65px ;
    position: relative;
}


.locker-smart-section-last-section{
    margin-top: 200px;
    /* height: 300px; */
    background-color: #FFF5EA;
    display: flex;
    margin-bottom: 100px;
    padding: 100px 60px 100px 0px;

}
.locker-solution-smart-img2{
    height: 600px;
    width: auto;
    object-fit: cover;
    position: absolute;
    top: -65%;
    right: 60px;
    z-index: 100000;
}






/* ================= MOBILE FIXES ================= */

@media only screen and (max-width: 800px) {

    .locker-solution-hero-section {
        height: auto;
        flex-direction: column-reverse;
        margin-bottom: 0px;
        padding-top:0px;
        padding-bottom: 60px;
    }

    .locker-solution-hero-image {
        height: 270px;
        object-fit: contain;
        margin-top: 0px;
    }

    .locker-solution-left {
        width: 100%;
        padding: 0px;
    }

    .locker-hero-section-contents {
        padding: 30px 20px 20px 20px;
    }

    .locker-solution-right {
        width: 100%;
        padding: 30px 0px;
    }

   

    /* CONTENT BELOW */
    .locker-carousel-left {
        order: 2;
        width: 100%;
        background-color: #FFF5EA;
        padding: 30px 0px 80px 0px;
        border-radius: 0;
        text-align: start;
        justify-content: end;
    }

    .locker-caorusel-section-contents {
        padding: 0 10px;
    }

    /* TABS */
    .locker-carousel-tabs-section {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 10px;
        scrollbar-width: none;
        justify-content: flex-start;
    }

    .locker-carousel-tabs-section::-webkit-scrollbar {
        display: none;
    }
    .locker-solution-smart-img2{
        height: 300px;
        position: relative;
        margin-top: -100px;
        z-index: 1;
        margin-right: -70px;
        
    }
    .locker-smart-section-last-section{
    margin-top: 270px;
    /* background-color: #EEF7FF; */
    display: flex;
    margin-bottom: 0px;
    flex-direction: column-reverse;
    padding: 0px 60px 60px 0px;

}

    .locker-tab {
        min-width: 120px;
        height: 120px;
        display: none !important;
        border-radius: 12px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    .locker-tab p {
        font-size: 11px;
        padding: 0px 10px 10px 10px;
    }

    /* ARROWS BELOW TABS */
    .locker-buttons-pagination {
        width: 100%;
        justify-content: center;
        padding: 20px 0;
        gap: 20px;
    }

    .circle-btn {
        height: 40px;
        width: 40px;
        font-size: 18px;
    }

    /* Smart Section */
    .locker-smart-section {
        margin-top: 0px;
        height: auto;
        background-color: #EEF7FF;
        padding: 60px 0px;
        margin-bottom: 0px;
        flex-direction: column-reverse;
    }

    .locker-smart-left,
    .locker-smart-right {
        width: 100%;
        margin-top: 0px;
        margin: auto;
      
    }
   .locker-smart-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
     }

    .locker-solution-smart-img{
        height: 350px;
    }

    .locker-smart-section-contents{
        padding: 0px 20px;
    }
}