.video-container {
  min-height: 100vh;
    background-color: #fff5ea;
  padding-top: 30px;
  color: white;
  position: relative;
  z-index: 100;
}
.video-name-text{
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  
}

.video-content {
  display: flex;
  min-height: 600px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.video-left-content {
  width: 40%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.video-right-content {
  width: 60%;
  display: flex;
  position: relative;
}

.video-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
  background-color: #111;
}

.demo-video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.play-pause-btn {
  position: absolute;
  top: 50px;
  left: 40px;
  background-color: #ffcc00;
  color: #000;
  border: none;
  width: auto;                /* Allow button to expand */
  height: 50px;
  padding: 0 15px;            /* Add padding */
  border-radius: 50px;        /* Make pill shape */
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;                  /* Space between icon + text */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  z-index: 10;
}
.play-btn-text {
  font-size: 14px;
  font-weight: 600;
}
.play-pause-btn:hover {
  background-color: #e6b800;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .video-container {
    padding: 60px 20px 60px 20px;
    /* margin-bottom: -110px; */

  }

  .video-content {
    justify-content: start;
    flex-direction: column;
    height: auto;
    border: none;
    gap: 40px;
  }

  .video-left-content,
  .video-right-content {
    width: 100%;
    padding: 0px;
  }

  .play-pause-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
  }

  .demo-video {
    width: 100%;
    height: 350px;
  }
}